.time-spend-section{
    background-color: #f3ccf3ee;
    padding: 5px;
    text-align: center;
    border: 3px solid #E9A8F2;
    border-radius: 10px;
}
.time-spend-section > h3{
    font-weight: 100;
}